body{
    background-color: rgb(118, 146, 170);
}

.Titule,
.recipes{
    text-align: center;
}



.Titule{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif
}

button{
    border-color: black;
    border-radius: 5px;
}

a{
    color: rgb(58, 57, 57);
}

.img{
    text-align: center;
}
